{% extends "user/base.html" %}
{% block content %}
    <main role="main" class="container main-contain">
      <div class="two-section row flex">
        <div class="sidebar">
            <div class="link">
                <a class="home" href="{% url 'user:main' %}" >
                    {% load static %}
                    <img class="icon" src="{% static 'images/home.svg' %}" alt="Home">
                    Home
                </a>
            </div>
            <div class="link">
                <a href="{% url 'questions:question_list' %}" >
                    {% load static %}
                    <img class="icon" src="{% static 'images/question.svg' %}" alt="Questions">
                    Questions
                </a>
            </div>
            <div class="link">
                <a href="{% url 'questions:tag_list' %}" >
                    {% load static %}
                    <img class="icon" src="{% static 'images/tags.svg' %}" alt="Tags">
                    Tags
                </a>
            </div>
        </div>
        <div class="mainpage delete-comment">
            <h2>Confirm Delete</h2>
            <p>Are you sure you want to delete this Comment?</p>
            <p class="comment-body">{{ comment.body }}</p>
            <form method="post">
              {% csrf_token %}
              <button class="btn btn-danger delete-button"  type="submit">Yes, delete</button>
              <a href="{% url 'questions:question_list' %}">Cancel</a>
            </form>
        </div>
      </div>
    </main>
<style>
  .delete-comment h2{
    font-size: 24px;
  }

  .delete-comment{
    width: 50%;
  }

  .comment-body{
    font-size: 14px;
  }

  .delete-button{
    margin-right: 20px;
  }


</style>
{% endblock content %}
