{% extends "user/base.html" %}

{% block content %}

<main role="main" class="container question-detail-container main-contain">
  <div class="row flex">
    <div class="col-md-2 sidebar">
        <div class="link">
            <a href="{% url 'user:main' %}" >
                {% load static %}
                <img class="icon" src="{% static 'images/home.svg' %}" alt="Home">
                Home
            </a>
        </div>
        <div class="link">
            <a href="{% url 'questions:question_list' %}" >
                {% load static %}
                <img class="icon" src="{% static 'images/question.svg' %}" alt="Questions">
                Questions
            </a>
        </div>
        <div class="link">
            <a href="{% url 'questions:tag_list' %}" >
                {% load static %}
                <img class="icon" src="{% static 'images/tags.svg' %}" alt="Tags">
                Tags
            </a>
        </div>
    </div>
    <div class="col-md-9 mainpage">
        <div class="heading-title">
            <h2 class="heading"><a href="{% url 'questions:question_detail' pk=question.pk %}">{{ question.title }}</a></h2>
            <div><a class="ask-question" href="{% url 'questions:question_create' %}">Ask Question</a></div>
        </div>
        <div class="votes-askedWhen">
            <p><span class="field-name">Asked</span> <span class="field-value">{{ question.created_at|date:"d-m-Y" }}</span></p>
            <p><span class="field-name">Modified</span> <span class="field-value">{{ question.updated_at |date:"d-m-Y" }}</span></p>
            <p><span class="field-name">Viewed</span> <span class="field-value">{{ question.views }} times</span></p>
        </div>
        <hr class="after-heading">
        <div class="question-section-and-question-vote-section">
            <div class="question-vote-section-left">
                <div class="votes">
                <button class="vote-btn" data-url="{% url 'questions:vote_question' question.id 'upvote' %}" id="upvote-btn">
                    {% load static %}
                    <img class="vote" src="{% static 'images/up-vote.png' %}" alt="up-vote">
                </button>
                    <div><h5 id="total_votes">{{vote_count}}</h5></div>
                <button class="vote-btn" data-url="{% url 'questions:vote_question' question.id 'downvote' %}" id="downvote-btn">
                    {% load static %}
                    <img class="vote" src="{% static 'images/down-vote.png' %}" alt="down-vote">
                </button>
        </div>
            </div>
            <div class="question-content-section-right">
                <div id="markdown-content" data-markdown="{{ question.body }}"></div>
                <div class="tags-div">
                    <div class="tags">
                    {% for tag in tags %}
                        <a href="#" class="tags-button encoded-tag" data-tag="{{ tag.tag }}">{{ tag.tag }}</a>

                    {% endfor %}
                </div>
                </div>
                <div class="edit-delete-button-username">
                    <div class="edit-delete-button">
                         {% if request.user == question.user %}
                              <a href="{% url 'questions:edit_question' question.pk %}">Edit</a>
                              <a href="{% url 'questions:delete_question' question.pk %}">Delete</a>
                        {% endif %}
                    </div>
                    <div class="username">
                        <div class="username-image">
                            <a class="profile"  href="{% url 'user:profile' question.user.username%}">
                                <div class="user-image">
                                    {% load static %}
                                        {% if user_profile.image %}
                                        <img class="profile-image" src="{{ question_owner_profile.image.url }}" alt="{{ user_profile.user.username }}'s profile picture">
                                            {% else %}
                                        <img class="profile-image" src="{{ MEDIA_URL }}default.png" alt="Default profile picture">
                                    {% endif %}
                                </div>
                                <div class="username-reputation">
                                <div class="username">{{ username }}</div>
                                <div class="reputations">{{ reputation }} reputations</div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% if comments %}
                    <div class="comment-section">
                    <hr>
                    {% for comment in comments %}
                    <div class="comment-body">
                        <p>{{ comment.body }} - <span><a class="comment-username"  href="{% url 'user:profile' comment.user.username%}">{{ comment.user.username }}</a></span>
                        {% if request.user == comment.user %}
                        <a class="delete-comment" href="{% url 'questions:delete_comment' comment.pk %}">Delete</a>
                        {% endif %}
                        </p>
                    </div>

                    <hr>
                    {% empty %}
                   {% endfor %}
                </div>
                {% endif %}

                    <button class="comment-btn toggle-button">Add a Comment</button>
                    <div class="comment-box mt-3" style="display: none;">
                 <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="hidden" class="comment-input" name="target_type" value="question">
                    <button  class="btn btn-success mt-2" type="submit" name="comment_submit">Submit Comment</button>
                </form>
                </div>
                </div>

        </div>
        <hr>

        <h4 class="answer-count-heading">
            {% if answer_count == 1 %}
                1 Answer
            {% elif answer_count > 1 %}
                {{ answer_count }} Answers
            {% else %}
            {% endif %}
        </h4>

        {% for answer in answers %}
            <div>
                 <div id="markdown-content1" data-markdown="{{ answer.body }}"></div>

                <div class="edit-delete-button-username">
                    <div class="edit-delete-button">
                         {% if request.user == answer.user %}
                             <a href="{% url 'questions:edit_answer' answer.pk %}">Edit</a>
                            <a href="{% url 'questions:delete_answer' answer.pk %}">Delete</a>
                        {% endif %}
                    </div>
                    <div class="username">
                        <div class="username-image">
                            <a class="profile"  href="{% url 'user:profile' answer.user.username %}">
                                <div class="user-image">
                                    {% load static %}
                                        {% if user_profile.image %}
                                        <img class="profile-image" src="{{ answer.profile.image.url }}" alt="{{ answer.user.username }}'s profile picture">
                                            {% else %}
                                        <img class="profile-image" src="{{ MEDIA_URL }}default.png" alt="Default profile picture">
                                    {% endif %}
                                </div>
                                <div class="username-reputation">
                                <div class="username">{{ answer.user.username }}</div>
                                <div class="reputations">{{ answer.reputation }} reputations</div>
                            </div>
                            </a>
                        </div>

                    </div>
                </div>

                <button class="comment-btn toggle-button">Add Comment</button>
                <div class="comment-box mt-3" style="display: none;">
                    <form method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="hidden" name="target_id" value="{{ answer.id }}">
                        <input type="hidden" name="target_type" value="answer">
                        <button class="btn btn-success mt-2" type="submit" name="comment_submit">Submit Comment</button>
                    </form>
                </div>

                {% if answer.comments %}
                    <div class="comment-section">
                    <hr>
                    {% for comment in answer.comments %}
                    <div class="comment-body">
                        <p>{{ comment.body }} - <span><a class="comment-username"  href="{% url 'user:profile' comment.user.username%}">{{ comment.user.username }}</a></span>
                        {% if request.user == comment.user %}
                        <a class="delete-comment" href="{% url 'questions:delete_comment' comment.pk %}">Delete</a>
                        {% endif %}
                        </p>
                    </div>

                    <hr>
                    {% empty %}
                   {% endfor %}
                </div>
                {% endif %}

            </div>
            <hr>
        {% empty %}
        {% endfor %}

        <h5 class="your-answer">Your Answer</h5>
        <div class="answer-section">
            <div class="answer-section-left">
                <form method="post">
                    {% csrf_token %}
                    <label for="{{ answer_form.body.id_for_label }}">Your Answer:</label>
                    <textarea id="answer-box" name="{{ answer_form.body.name }}"
                              id="{{ answer_form.body.id_for_label }}"
                              rows="10"
                              cols="40"></textarea>
                    <button class="answer-post-button" type="submit" name="answer_submit">Post Your Answer</button>
                </form>
            </div>
            <div class="answer-section-right">
                <div id="preview-answer"></div>
            </div>
        </div>

            </div>
          </div>
        </main>
<style>

    .username-image{
        background-color: #EDF5FD;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 20px;
        padding-bottom: 6px;
        border-radius: 5px;
    }

    .profile-image{
        width: 35px;
        border-radius: 5px;
    }

    textarea{
    width: 500px;
    }

.heading-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

.username-reputation div{
    font-size: 14px;
}

.reputations{
    color: black;
    font-size: 12px !important;
}

.heading a{
    font-size: 24px;
    color: #3B4045;
}

#markdown-content {
  padding: 10px;
}

#preview-section{
    width: 100%;
}

.inline-code {
  font-family: "Consolas", monospace;
  background-color: <div id="E3E6E8"></div>;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  color: #333;
}

.code-block {
  font-family: "Consolas", monospace;
  background-color: #F6F6F6;
  color: #333;
  padding: 3px 3px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}


pre {
  margin: 0;
  padding: 10px;
  overflow: auto;
  background-color: #F6F6F6
}

.votes-askedWhen {
  margin-left: 10px;
  display: flex;
  gap: 20px;
}

.field-name {
  color: gray;
  font-size: 12px;
}

.field-value {
  color: black;
  font-size: 12px;
}

.ask-question {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px !important;
}

.comment-btn {
    margin-top: 0 !important;
  margin-left: 30px;
  background-color: white;
  color: gray;
  font-size: 13px;
  outline: 0;
  border: none;
}

.comment-btn:focus,
.comment-btn:hover {
  outline: none;
  cursor: pointer;
}

.comment-box {
  transition: opacity 0.3s ease, max-height 0.3s ease; /* Smooth transition */
}

.tags-button {
  color: black;
  font-size: 12px !important;
  background: #e3e6e8;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.tags {
  margin-left: 30px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tags-button:hover {
  color: black;
  background-color: #aeb7bd;
}

.tags-div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-bottom: 30px;
}

.edit-delete-button-username {
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.username {
  color: blue;
}

.comment-section {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 60px;
  padding-top: 10px;
}

.comment-section hr {
  margin-bottom: 5px;
  color: black;
}

.comment-owner {
    font-size: 14px;
}

.answer-username-created {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

textarea {
  padding: 10px;
  height: auto;
}

.your-answer {
  margin-bottom: 30px;
}

.answer-post-button {
  color: white;
  background-color: hsl(210, 77%, 46%);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
  border: none;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.answer-section-right {
  width: 35%;
}

.answer-section {
  width: 120%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 30px;
}

.answer-count-heading {
  margin-bottom: 30px;
}

.heading-title h2 {
  width: 85%;
}

.question-section-and-question-vote-section {
  display: flex !important;
  flex-direction: row !important;
  gap: 30px;
  margin-top: 30px;
}

.question-vote-section-left .votes {
  display: flex !important;
  flex-direction: column !important;
}

.vote-btn {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #d6d9dc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.vote {
  width: 15px;
  opacity: 0.7;
}

#total_votes {
  margin-left: 15px;
}

.question-content-section-right {
  width: 150%;
}

.logo{
    height: 30px;
    width: auto;
    margin-top: 0;
    padding-top: 0;
}

nav{
    margin-top: 0;
    padding-top: 0;
}

.profile-img{
    width: 25px !important;
    height: 25px !important;
}

.register, .login{
    padding: 6px;
    font-size: 14px;
}

.mainpage{
    width: 80%;
}


.welcome-message p{
    font-size: 12px;
}

.welcome-message div{
    font-size: 28px;
    font-weight: 600;
}

.reputation-box p{
    font-size: 14px;
}
p a{
    text-decoration: underline !important;
}

.interesting-post-section h4{
    font-size: 20px;
    font-weight: 600;
}

.post-question a{
    font-size: 17px;
}

.post-question div{
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.tags-button{
    font-weight: 500;
}

.link a{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

    .vote-btn{
        transition: 0.3s ease-in;
    }

    .button-selected{
        background-color: #155CA4 !important;
        border: none;
        outline: 0;
        border: none;
    }

    .button-selected:focus{
        outline: 0;
    }

    .vote-selected{
        filter: invert(1);
        outline: 0
    }
    .question-content-section-right{
        width: 85%;
    }

    .question-content-section-right *{
         word-wrap: break-word;
        }


    .question-detail-container{
        margin-top: 30px;
    }

    .username-image a{
        display:flex;
        gap: 10px;
        align-items: start;
    }

    .edit-delete-button a{
        font-size: 14px;
        color: gray;
        margin-left: 3px;
    }

    label{
    display: none;
    }

    .answer-section-left form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .answer-section-left{
    width: 500px;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const textarea = document.getElementById('answer-box');

        textarea.addEventListener('input', function () {
          this.style.height = 'auto';
          this.style.height = `${this.scrollHeight}px`;
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const bodyTextarea = document.getElementById('answer-box');
        const previewDiv = document.getElementById('preview-answer');

        function parseMarkdown(text) {
              let parsed = text;

              parsed = parsed.replace(/```([\s\S]*?)```/g, '<pre><code class="code-block">$1</code></pre>');
              parsed = parsed.replace(/^###### (.*)/gm, '<h6>$1</h6>')
                             .replace(/^##### (.*)/gm, '<h5>$1</h5>')
                             .replace(/^#### (.*)/gm, '<h4>$1</h4>')
                             .replace(/^### (.*)/gm, '<h3>$1</h3>')
                             .replace(/^## (.*)/gm, '<h2>$1</h2>')
                             .replace(/^# (.*)/gm, '<h1>$1</h1>');

              parsed = parsed.replace(/!\[([^\]]+)]\(([^)]+)\)/g, '<img src="$2" alt="$1">');

              parsed = parsed.replace(/\[([^\]]+)]\(([^)]+)\)/g, '<a href="$2" target="_blank">$1</a>');

              parsed = parsed.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')  // Bold
                             .replace(/\*(.*?)\*/g, '<i>$1</i>')  // Italic
                             .replace(/_(.*?)_/g, '<i>$1</i>')   // Italic (underscore version)
                             .replace(/~~(.*?)~~/g, '<del>$1</del>'); // Strikethrough

              parsed = parsed.replace(/`(.*?)`/g, '<code class="inline-code">$1</code>');
              parsed = parsed.replace(/\n/g, '<br>');
              parsed = parsed.replace(/  /g, '&nbsp;&nbsp;');

              return parsed;
        }

         function updatePreview() {
              const bodyText = bodyTextarea.value.trim();

              let previewHtml = ``;

              previewHtml += parseMarkdown(bodyText);

              previewDiv.innerHTML = previewHtml;
        }


        bodyTextarea.addEventListener('input', updatePreview);

    });

</script>
<script>
      document.addEventListener("DOMContentLoaded", function () {
        const markdownElement = document.getElementById("markdown-content1");

        if (markdownElement) {
            const markdownText = markdownElement.getAttribute("data-markdown");

            // Simple Markdown Parser
            function parseMarkdown(markdown) {
                markdown = markdown.replace(/```([\s\S]*?)```/g, '<pre><code class="code-block">$1</code></pre>');

                // Convert headings (## Heading)
                markdown = markdown.replace(/^## (.+)$/gm, '<h2>$1</h2>');
                markdown = markdown.replace(/^# (.+)$/gm, '<h1>$1</h1>');

                // Convert bold (**bold**)
                markdown = markdown.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>');

                // Convert italic (*italic*)
                markdown = markdown.replace(/\*(.+?)\*/g, '<em>$1</em>');

                // Convert unordered lists (- item)
                markdown = markdown.replace(/^- (.+)$/gm, '<li>$1</li>');
                markdown = markdown.replace(/(<li>.*<\/li>)/g, '<ul>$1</ul>');

                // Convert links ([text](url))
                markdown = markdown.replace(/\[(.+?)\]\((.+?)\)/g, '<a href="$2">$1</a>');
                markdown = markdown.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')  // Bold
                     .replace(/\*(.*?)\*/g, '<i>$1</i>')  // Italic
                     .replace(/_(.*?)_/g, '<i>$1</i>')   // Italic (underscore version)
                     .replace(/~~(.*?)~~/g, '<del>$1</del>'); // Strikethrough

                markdown = markdown.replace(/`(.*?)`/g, '<code class="inline-code">$1</code>');
                markdown = markdown.replace(/\n/g, '<br>');
                markdown = markdown.replace(/  /g, '&nbsp;&nbsp;');

                return markdown;
            }

            // Parse Markdown to HTML
            const htmlContent = parseMarkdown(markdownText);

            // Set the rendered HTML content
            markdownElement.innerHTML = htmlContent;
        }
    });

</script>
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if this cookie starts with the name we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

 const updateVoteUI = (userVote) => {
        const upvoteButton = document.querySelector("#upvote-btn");
        const downvoteButton = document.querySelector("#downvote-btn");
        const buttonVotes = document.getElementsByClassName('vote-btn');

        upvoteButton.classList.remove('vote-selected');
        downvoteButton.classList.remove('vote-selected');
        Array.from(buttonVotes).forEach(buttonVote => {
                buttonVote.classList.remove('button-selected');
                });

        if (userVote === null){
            upvoteButton.classList.remove('vote-selected');
            buttonVotes[0].classList.remove('button-selected');
            downvoteButton.classList.remove('vote-selected');
            buttonVotes[1].classList.remove('button-selected');
            return;
        }

        else if (userVote === "upvote"){
            upvoteButton.classList.add('vote-selected');
            buttonVotes[0].classList.add('button-selected');
        }else{
            downvoteButton.classList.add('vote-selected');
            buttonVotes[1].classList.add('button-selected');
        }

    };

document.querySelectorAll('.vote-btn').forEach(button => {

    button.addEventListener('click', function () {
        const url = this.dataset.url;

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                document.getElementById('total_votes').textContent = data.upvotes - data.downvotes;
                updateVoteUI(data.user_vote);
            }
        });
    });
});
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const userVote = "{{ user_vote }}";

        const upvoteButton = document.querySelector("#upvote-btn");
        const downvoteButton = document.querySelector("#downvote-btn");
        const buttonVotes = document.getElementsByClassName('vote-btn');

        upvoteButton.classList.remove('vote-selected');
        downvoteButton.classList.remove('vote-selected');
        Array.from(buttonVotes).forEach(buttonVote => {
                buttonVote.classList.remove('button-selected');
                });

       if (userVote === "upvote"){
            upvoteButton.classList.add('vote-selected');
            buttonVotes[0].classList.add('button-selected');
        }else if(userVote === "downvote"){
            downvoteButton.classList.add('vote-selected');
            buttonVotes[1].classList.add('button-selected');
        }

    });
</script>
 <script>
      document.addEventListener("DOMContentLoaded", function () {
        const markdownElement = document.getElementById("markdown-content");

        if (markdownElement) {
            const markdownText = markdownElement.getAttribute("data-markdown");

            function parseMarkdown(markdown) {
                markdown = markdown.replace(/```([\s\S]*?)```/g, '<pre><code class="code-block">$1</code></pre>');

                markdown = markdown.replace(/^## (.+)$/gm, '<h2>$1</h2>');
                markdown = markdown.replace(/^# (.+)$/gm, '<h1>$1</h1>');

                markdown = markdown.replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>');

                markdown = markdown.replace(/\*(.+?)\*/g, '<em>$1</em>');

                markdown = markdown.replace(/^- (.+)$/gm, '<li>$1</li>');
                markdown = markdown.replace(/(<li>.*<\/li>)/g, '<ul>$1</ul>');

                markdown = markdown.replace(/\[(.+?)\]\((.+?)\)/g, '<a href="$2">$1</a>');
                markdown = markdown.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')  // Bold
                     .replace(/\*(.*?)\*/g, '<i>$1</i>')  // Italic
                     .replace(/_(.*?)_/g, '<i>$1</i>')   // Italic (underscore version)
                     .replace(/~~(.*?)~~/g, '<del>$1</del>'); // Strikethrough

                markdown = markdown.replace(/`(.*?)`/g, '<code class="inline-code">$1</code>');
                markdown = markdown.replace(/\n/g, '<br>');
                markdown = markdown.replace(/  /g, '&nbsp;&nbsp;');

                return markdown;
            }

            const htmlContent = parseMarkdown(markdownText);

            markdownElement.innerHTML = htmlContent;
        }
    });

</script>
<script>
    $(document).on('click', '.toggle-button', function() {
        $(this).next('.comment-box').toggle();
    });
</script>
<script>
    document.querySelectorAll('.encoded-tag').forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();  // Prevent default link behavior

            // Get the tag name and encode it
            const tagName = encodeURIComponent('[' + link.getAttribute('data-tag') + ']');
            const url = `http://localhost:8000/search/?query=${tagName}`;

            // Redirect to the encoded URL
            window.location.href = url;
        });
    });
</script>
{% endblock %}
