@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Signika:wght@300..700&family=VT323&display=swap");
* {
  outline: 0;
}

a {
  text-decoration: none;
}

body {
  background: white;
  padding-top: 10px;
}


ul {
  margin: 0;
}

.contain {
  max-width: 1200px;
}

nav .contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

#search {
  padding: 4px;
  padding-left: 10px;
  border-radius: 5px;
  width: 30vw;
  font-size: 12px;
}

.logout,
.profile {
  text-decoration: none;
  padding: 6px;
  border-radius: 5px;
  font-size: 14px;
  align-self: center;
}

.profile-logout {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logout-form {
  width: 200px;
}

.profile:hover,
.logout:hover {
  cursor: pointer;
}

.logout:hover {
  background-color: #f58025;
  color: white;
  text-decoration: none;
}

.logout {
  border-color: #f58025;
  background: white;
}

.nav-button {
  text-decoration: none;
  font-family: "Poppins";
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  margin-left: 10px;
}

* {
  font-family: "Poppins";
}

.nav-button:hover {
  background-color: #f58025;
  color: white;
  border: 2px solid #f58025;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  width: 90%;
}

.login-contain {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-logo {
  width: 100px;
  padding-top: 20px;
}

.login-contain, {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-contain,
 {
  width: 400px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}


.register-contain,
.main-contain {
  margin-top: 30px;
}

.alert {
  margin-top: 30px;
}

a {
  text-decoration: none !important;
}

.logout-contain {
  margin-top: 100px;
}

.icon {
  width: 15px !important;
  height: 15px !important;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
}

.link{
    margin-top: 10px;
}

.link a {
  display: flex;
  flex-direction: row;
  color: black;
  padding-top: 5px;
}


.sidebar {
  padding-right: 20px;
}

.link {
  padding-right: 20px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.hero-section-not-auth {
  display: flex !important;
  flex-direction: row !important;
  background-color: #F9FAFA;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.hero-section-not-auth p{
    font-size: 14px;
    margin-bottom: 50px;
}

.hero-section-not-auth a{
    margin-top: 30px;
}

.register{
    font-size: 13px !important;
}

.left,
.right {
  width: 50%;
}

.right img {
  width: 120%;
  height: auto;
}

.right {
  display: flex;
  justify-content: start;
  align-items: start;
}

.left h2 {
  font-weight: 600;
  font-size: 30px;
}

.left h2 span {
  color: white !important;
  background-color: #f58025;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.left .register,
.ask-question {
  background-color: hsl(210, 77%, 46%);
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
  font-size: 14px;
}

.ask-question:hover {
  color: white;
  background-color: #155ca4;
}

.wave-hand {
  width: 60px;
}

.hello-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hello-section-left {
  display: flex;
  flex-direction: row;
  width: 75%;
  gap: 20px;
}

.hello-section-right {
  margin-left: 50px;
}

.welcome-message p {
  color: gray;
}

.reputation-box {
  margin-left: 20px;
   padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid #d6d9dc;
  border-radius: 4px;
  width: 50%;
  height: auto;
  margin-top: 20px;
}

.reputation-box h5 {
  font-size: 16px;
  font-weight: 600;
  color: hsl(210, 8%, 25%) !important;
}

.reputation-stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-between;
}

.graph-image {
  width: 60px;
}

.reputation-box h4 {
  margin-top: 10px;
  font-size: 30px;
  color: #3b4045;
}

.reputation-box p {
  color: gray;
  font-weight: 400;
  font-size: 14px;
}

.interesting-post-section {
  margin-top: 30px;
  margin-bottom: 10px;
}

.latest-post-box {
  border: 1px solid #d6d9dc;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.description {
  color: hsl(210, 8%, 25%) !important;
}

.votes-answer-stats {
  padding-top: 10px;
  gap: 5px;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.votes {
  color: black !important;
}

.votes-answer-stats * {
  font-size: 12px;
  color: gray;
  font-weight: 400;
}

.post-question {
  width: 80%;
}

.post-question a {
  font-size: 18px;
}

.post-question p {
  padding-top: 10px;
  font-size: 13px;
  color: gray;
}

.interesting-post-section h4 {
  margin-bottom: 20px;
}

.tags-button {
  color: black;
  font-size: 12px !important;
  background: #e3e6e8;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.tags-button:hover {
  color: black;
  background-color: #aeb7bd;
}

.profile-section {
  margin-top: 1000px;
}

.logo{
    height: 30px;
    width: auto;
    margin-top: 0;
    padding-top: 0;
}

nav{
    margin-top: 0;
    padding-top: 0;
}

.profile-img{
    width: 25px !important;
    height: 25px !important;
}

.register, .login{
    padding: 6px;
    font-size: 14px;
}

.mainpage{
    width: 80%;
}


.welcome-message p{
    font-size: 12px;
}

.welcome-message div{
    font-size: 28px;
    font-weight: 600;
}

.reputation-box p{
    font-size: 14px;
}
p a{
    text-decoration: underline !important;
}

.interesting-post-section h4{
    font-size: 20px;
    font-weight: 600;
}

.post-question a{
    font-size: 17px;
}

.post-question div{
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.tags-button{
    font-weight: 500;
}

.link a{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.heading-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

.block {
  width: 100%;
}

.heading-tags h1 {
  font-size: 26px;
  font-weight: 400;
}

.heading-tags p {
  width: 650px;
  font-size: 14px;
  font-weight: 400;
}

.table {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.tag-box {
  padding: 17px;
  border: 1px solid #d6d9dc;
  border-radius: 6px;
  width: 280px;
}

.tag-box div {
  margin-top: 10px;
  font-size: 12px;
  height: 80%;
  word-wrap: break-word;
  text-wrap: wrap;
}

.tag-box a {
  color: black;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 7px;
  background-color: #eaecee;
  transition: 0.3s ease-in;
}

.tag-box a:hover {
  background-color: #c5cbd0;
}

.question-list-heading{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}

.newest-question{
    font-size: 24px;
}

.total-questions{
    margin-top: 30px;
    margin-bottom: 20px;
}

.heading-title h2{
    font-size: 2rem;
}

.heading a{
    font-size: 1rem;
    font-weight: 600 !important;
}

.heading-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

.inline-code {
  font-family: "Consolas", monospace;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  color: #333;
}

.votes-askedWhen {
  margin-left: 10px;
  display: flex;
  gap: 20px;
}

.field-name {
  color: gray;
  font-size: 12px;
}

.field-value {
  color: black;
  font-size: 12px;
}

.ask-question {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px !important;
}

.comment-body p{
    font-size: 12px;
}

.comment-body p a{
    color: gray;
    text-decoration: none !important;
}

.comment-username{
    color: blue !important;
    text-decoration: underline !important;
}

.delete-comment{
    padding-left: 10px;
}
.comment-btn:focus,
.comment-btn:hover {
  outline: none;
  cursor: pointer;
}

.comment-box {
  transition: opacity 0.3s ease, max-height 0.3s ease; /* Smooth transition */
}

.tags-button {
  color: black;
  font-size: 12px !important;
  background: #e3e6e8;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.tags {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tags-button:hover {
  color: black;
  background-color: #aeb7bd;
}
.tags-username {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-bottom: 30px;
}

.username {
  color: blue;
}

.answer-username-created {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

textarea {
  padding: 10px;
  height: auto;
}

.your-answer {
  margin-bottom: 30px;
}

.answer-post-button {
  color: white;
  background-color: hsl(210, 77%, 46%);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
  border: none;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.answer-section-left {
  width: 70%;
}

.answer-section-right {
  width: 25%;
}

.answer-section {
  width: 130%;
  display: flex;
  flex-direction: row;
}

.answer-count-heading {
  margin-bottom: 30px;
}

.heading-title h2 {
  width: 85%;
}

.question-section-and-question-vote-section {
  display: flex !important;
  flex-direction: row !important;
  gap: 30px;
  margin-top: 30px;
}

.question-vote-section-left .votes {
  display: flex !important;
  flex-direction: column !important;
}

.vote-btn {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #d6d9dc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.vote {
  width: 15px;
  opacity: 0.7;
}

#total_votes {
  margin-left: 15px;
}

.question-content-section-right {
  width: 150%;
}


.heading-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

.inline-code {
  font-family: "Consolas", monospace;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  color: #333;
}

.code-block {
  font-family: "Consolas", monospace;
  background-color: #e7e7e7;
  color: #333;
  padding: 3px 3px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}


pre {
  margin: 0;
  padding: 10px;
  overflow: auto;
  background-color: #F6F6F6;
}

.votes-askedWhen {
  margin-left: 10px;
  display: flex;
  gap: 20px;
}

.field-name {
  color: gray;
  font-size: 12px;
}

.field-value {
  color: black;
  font-size: 12px;
}

.ask-question {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px !important;
}


.comment-btn:focus,
.comment-btn:hover {
  outline: none;
  cursor: pointer;
}

.comment-box {
  transition: opacity 0.3s ease, max-height 0.3s ease; /* Smooth transition */
}

.tags-button {
  color: black;
  font-size: 12px !important;
  background: #e3e6e8;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.tags {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tags-button:hover {
  color: black;
  background-color: #aeb7bd;
}
.tags-username {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-bottom: 30px;
}

.username {
  color: blue;
}

.answer-username-created {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

textarea {
  padding: 10px;
  height: auto;
}

.your-answer {
  margin-bottom: 30px;
}

.answer-post-button {
  color: white;
  background-color: hsl(210, 77%, 46%);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in;
  border: none;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.answer-section-left {
  width: 70%;
}

.answer-section-right {
  width: 25%;
}

.answer-section {
  width: 130%;
  display: flex;
  flex-direction: row;
}

.answer-count-heading {
  margin-bottom: 30px;
}

.heading-title h2 {
  width: 85%;
}

.question-section-and-question-vote-section {
  display: flex !important;
  flex-direction: row !important;
  gap: 30px;
  margin-top: 30px;
}

.question-vote-section-left .votes {
  display: flex !important;
  flex-direction: column !important;
}

.vote-btn {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #d6d9dc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.vote {
  width: 15px;
  opacity: 0.7;
}

#total_votes {
  margin-left: 15px;
}

.question-content-section-right {
  width: 150%;
}

.logo{
    height: 30px;
    width: auto;
    margin-top: 0;
    padding-top: 0;
}

nav{
    margin-top: 0;
    padding-top: 0;
}

.profile-img{
    width: 25px !important;
    height: 25px !important;
}

.register, .login{
    padding: 6px;
    font-size: 14px;
}

.mainpage{
    width: 80%;
}


.welcome-message p{
    font-size: 12px;
}

.welcome-message div{
    font-size: 28px;
    font-weight: 600;
}

.reputation-box p{
    font-size: 14px;
}
p a{
    text-decoration: underline !important;
}

.interesting-post-section h4{
    font-size: 20px;
    font-weight: 600;
}

.post-question a{
    font-size: 17px;
}

.post-question div{
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.tags-button{
    font-weight: 500;
}

.link a{
    font-size: 14px;
    padding: 0;
    margin: 0;
}

