{% extends "user/base.html" %}
{% block content %}
    <main role="main" class="container main-contain">
      <div class="row flex">
        <div class="col-md-2 sidebar">
            <div class="link">
                <a href="{% url 'user:main' %}" >
                    {% load static %}
                    <img class="icon" src="{% static 'images/home.svg' %}" alt="Home">
                    Home
                </a>
            </div>
            <div class="link">
                <a href="{% url 'questions:question_list' %}" >
                    {% load static %}
                    <img class="icon" src="{% static 'images/question.svg' %}" alt="Questions">
                    Questions
                </a>
            </div>
            <div class="link">
                <a href="{% url 'questions:tag_list' %}" >
                    {% load static %}
                    <img class="icon" src="{% static 'images/tags.svg' %}" alt="Tags">
                    Tags
                </a>
            </div>
        </div>
        <div class="col-md-9 mainpage">
            {% if not user.is_authenticated %}
            <div class="hero-section-not-auth">
                <div class="left">
                    <h2>
                        Every <span class="developer">developer</span> has a tab open to Stack Overflow
                    </h2>
                    <p>
                        For over 15 years we’ve been the Q&A platform of choice that millions of people visit every month to ask questions, learn, and share technical knowledge.
                    </p>
                      <a class="register" href="{% url 'user:register' %}">Register</a>
                </div>
                <div class="right">
                    {% load static %}
                    <img class="right-image" src="{% static 'images/right.png' %}" alt="Right Image">                </div>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="hello-section">
                <div class="hello-section-left">
                    <div class="hello-hand">
                    {% load static %}
                    <img class="wave-hand" src="{% static 'images/waving-hand.png' %}" alt="Wave Hand">
                    </div>
                    <div class="welcome-message">
                        <h4>Welcome back, {{user.username}}</h4>
                        <p>Find answers to your technical questions and help others answer theirs.</p>
                    </div>
                </div>
                <div class="hello-section-right">
                    <a class="ask-question" href="{% url 'questions:question_create' %}">Ask Questions</a>
                </div>

            </div>
            <div class="reputation-section">
                <div class="reputation-box">
                    <h5>Reputation</h5>
                    <h4>0</h4>
                    <p>Earn Reputation By Asking, Answering Questions</p>
                </div>
            </div>
            <div class="interesting-post-section">
                <h4>Latest posts</h4>
                {% for question in latest_questions %}
                <div class="latest-post-box">
                    <div class="votes-answer-stats">
                        <div class="votes"> 0 votes</div>
                        <div class="answer"> {{ question.answer_count }} answers</div>
                        <div class="view"> {{ question.views }} views</div>
                    </div>
                    <div class="post-question">
                        <a class = "question" href="{% url 'questions:question_detail' question.id %}">{{ question.title }}</a>
                        <p class="description">{{ question.body_clean |slice:":200"  }}</p>
                        <div class="tags">
                            {% for tag in question.tags.all %}
                              <a class="tags-button" href="{% url 'user:register' %}">{{tag.tag.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
            {% endif %}


        </div>
      </div>
    </main>
{% endblock content %}
